In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv("breast-cancer.csv", header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9
0,'40-49','premeno','15-19','0-2','yes','3','right','left_up','no','recurrence-events'
1,'50-59','ge40','15-19','0-2','no','1','right','central','no','no-recurrence-events'
2,'50-59','ge40','35-39','0-2','no','2','left','left_low','no','recurrence-events'
3,'40-49','premeno','35-39','0-2','yes','3','right','left_low','yes','no-recurrence-events'
4,'40-49','premeno','30-34','3-5','yes','2','left','right_up','no','recurrence-events'

In [22]:
data.isnull().sum()

0    0
1    0
2    0
3    0
4    8
5    0
6    0
7    1
8    0
9    0
dtype: int64

In [24]:
data[4] = data[4].replace('nan', 'NaN')
data[7] = data[7].replace('nan', 'NaN')

In [25]:
data = data.dropna()

In [26]:
data.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [71]:
data = data.drop(index=131, columns=0)

In [72]:
dataset = data.values

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276 entries, 0 to 285
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       276 non-null    object
 1   2       276 non-null    object
 2   3       276 non-null    object
 3   4       276 non-null    object
 4   5       276 non-null    object
 5   6       276 non-null    object
 6   7       276 non-null    object
 7   8       276 non-null    object
 8   9       276 non-null    object
dtypes: object(9)
memory usage: 21.6+ KB

In [74]:
X = dataset[:, :-1]

In [75]:
y = dataset[:, -1]

In [76]:
X[0], y[0]

(array(["'premeno'", "'15-19'", "'0-2'", "'yes'", "'3'", "'right'",
        "'left_up'", "'no'"], dtype=object),
 "'recurrence-events'")

In [77]:
X_new = pd.DataFrame(X)
y_new = pd.DataFrame(y)

In [78]:
X_new.head()

           0        1      2      3    4        5           6      7
0  'premeno'  '15-19'  '0-2'  'yes'  '3'  'right'   'left_up'   'no'
1     'ge40'  '15-19'  '0-2'   'no'  '1'  'right'   'central'   'no'
2     'ge40'  '35-39'  '0-2'   'no'  '2'   'left'  'left_low'   'no'
3  'premeno'  '35-39'  '0-2'  'yes'  '3'  'right'  'left_low'  'yes'
4  'premeno'  '30-34'  '3-5'  'yes'  '2'   'left'  'right_up'   'no'

In [79]:
X_new.shape

(276, 8)

In [80]:
X_new[7][0]

"'no'"

In [81]:
for i in range(0, len(X_new[7])):
    if X_new[7][i] == 'nan':
        print("has NaN")
    else:
        pass

In [82]:
X = X.astype(str)

In [83]:
# Split the dataset into train ans test set
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y,
                                                    test_size=0.33,
                                                    random_state=42)

In [84]:
X_train.shape, X_test.shape

((184, 8), (92, 8))

In [85]:
y_train.shape, y_test.shape

((184,), (92,))

In [86]:
def prepare_inputs(X_train, X_test):
    ordinal_encoder = OrdinalEncoder()
    ordinal_encoder.fit(X_train)
    X_train_enc = ordinal_encoder.transform(X_train)
    X_test_enc = ordinal_encoder.transform(X_test)
    return X_train_enc, X_test_enc

In [87]:
def prepare_target(y_train, y_test):
    label_encoder = LabelEncoder()
    label_encoder.fit(y_train)
    y_train_enc = label_encoder.transform(y_train)
    y_test_enc = label_encoder.transform(y_test)
    return y_train_enc, y_test_enc

In [89]:
X_train_enc, X_test_enc = prepare_inputs(X_train, X_test)

In [88]:

y_train_enc, y_test_enc = prepare_target(y_train, y_test)